body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin:35px 15px;
}
img{
  width: 90%;
  border-radius: 10px;
  margin:20px
}
.cardInfo{
  margin:15px;
  border: 1px solid #aa367c;
    border-radius: 5px;
    flex: 1 0 20%;
    min-width: 180px;
}
.text{
  text-align: center;
}
input{
  display: block;
  margin: auto;
  width:350px;
  border-radius: 20px;
  padding: 10px;
  font-size: 1rem;

}
h1{
  color:#aa367c;
  text-align: center;
  
}